version: '2.4'

volumes:
  influxdb-data:
  grafana-data:

services:
  cmi-importer:
    image: cmi-importer
    build:
      context: {{ root }}/cmi-importer
    restart: always
    depends_on:
      influxdb:
        condition: service_healthy

  influxdb:
    image: influxdb:{{ influxdb_version }}

    env_file: ./influxdb/.env
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - influxdb-data:/var/lib/influxdb
    restart: always
    healthcheck:
      test: ["CMD", "wget", "--server-response", "--output-document", "/dev/null", "http://localhost:8086/ping"]
      start_period: 5s

  grafana:
    image: grafana/grafana

    env_file: ./grafana/.env
    ports:
      - "30000:3000"
    volumes:
      - ./grafana/grafana.ini:/etc/grafana/grafana.ini:ro
      - grafana-data:/var/lib/grafana
    restart: always
    healthcheck:
      test: ["CMD", "wget", "-S", "-O", "/dev/null", "http://localhost:3000"]
      start_period: 5s
    depends_on:
      influxdb:
        condition: service_healthy
